.header{
    position: fixed;
    left:0;
    right:0;
    top:0;
    height: 60px;
    z-index: 10;
    transition: all 0.4s linear;
}

.header.visible{
    background-color: var(--primary);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.header.visible .navbar__item{
    color:white;
}

.header__navbar{
    height: 100%;

}

.navbar__list{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}
.navbar__item{
    text-decoration: none;
    list-style-type: none;
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--primary);
    padding: 20px;
    text-transform: uppercase;
    transition: all 0.4s linear;
}