.container__solutions{
    display: flex;
    justify-content: space-between;

}
.container__solutions-card{
    width: 220px;
    height: 220px;
    background-color: #f7f7f7;
    border-radius: var(--border-radius);
    position: relative;
  
    
}

.card__header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color:#ffd514;
    position: absolute;
    top: -10%;
    left: 4.5%;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.card__title{
    font-size: 1.5rem;
}

.card__number{
    font-size: 2rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-left: 10px;
}

.card__desc{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card__icon{

}

.card__name{
    font-size: 1.4rem;
    margin-bottom: 10px;
    text-decoration: underline;
}

.card__info{

}
